

[gcode_macro PRINT_START]     

variable_PLA: 0
variable_ABS: 0
variable_TPU: 0
variable_GENERIC: 0
gcode:

#    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
#    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(150)|float %}
#    {% set chambertemp = params.CHAMBER|default(0)|int %}
    {% set FILAMENT_TYPE = params.FILAMENT_TYPE|default('generic')|string %}
    {% if FILAMENT_TYPE == "PLA" %}
            {% set variable_PLA = 1 %} 
            RESPOND MSG="Material is PLA"
    {% elif FILAMENT_TYPE == "ABS" %}        
            {% set variable_ABS = 1 %}
            RESPOND MSG="Material is ABS"
    {% elif FILAMENT_TYPE == "TPU" %}        
            {% set variable_TPU = 1 %}
            RESPOND MSG="Material is TPU"
    {% else %} 
            {% set variable_GENERIC = 1 %}
            RESPOND MSG="Material is GENERIC"
    {% endif %}

##############################################################################             
                    
    {% if variable_PLA == 1 %}
    # PLA START G CODE 

##############################################################################

    SET_PIN PIN=Daylight VALUE=1.0
    SET_FAN_SPEED FAN=Nevermore SPEED=0
    SET_FAN_SPEED FAN=Bed_Fans SPEED=0
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(150)|float %}
    M140 S{BED_TEMP}
    STATUS_HOMING
    _CG28
    PARK
    STATUS_HEATING
    M190 S{BED_TEMP}
    PARK #park in the middle of the bed
    TEMPERATURE_WAIT SENSOR="temperature_sensor beacon_coil" MINIMUM=30
    G28 Z
    QUAD_GANTRY_LEVEL
    G28 Z
    M104 S{EXTRUDER_TEMP}
    STATUS_MESHING
    bed_mesh_calibrate
    BED_MESH_PROFILE LOAD=default
    G0 z10
    G28 z
    G90
    G0 X330 Y350 F12000
    M109 S{EXTRUDER_TEMP}
    clean_nozzle
    STATUS_PRINTING
    VORON_PURGE



##############################################################################
    {% elif variable_ABS == 1 %}
    #ABS start gcode
###############################################################################

    SET_PIN PIN=Daylight VALUE=1.0
    SET_FAN_SPEED FAN=Nevermore SPEED=0.75
    SET_FAN_SPEED FAN=Bed_Fans SPEED=0.75
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(150)|float %}
    M140 S{BED_TEMP}
    STATUS_HOMING
    _CG28
    STATUS_HEATING
    M190 S{BED_TEMP}
    PARK #park in the middle of the bed.
    TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={chambertemp}
    G28 Z
    QUAD_GANTRY_LEVEL
    G28 Z
    M104 S{EXTRUDER_TEMP}
    STATUS_MESHING
    bed_mesh_calibrate
    BED_MESH_PROFILE LOAD=default
    G90
    G0 X330 Y350 F12000
    M109 S{EXTRUDER_TEMP}
    clean_nozzle
    PARK
    TEMPERATURE_WAIT SENSOR="temperature_sensor beacon_coil" MINIMUM=70
    G28 z
    STATUS_PRINTING
    VORON_PURGE




















    {% elif variable_TPU == 1 %}

#TPU START GCODE



    {% endif %}
            
    
    























































